modal-indicator.f.fh(spat-animation='scale', spat-dismissible='{false}')
  div.modal.white(ref='modal')
    div Sync...
  style(scoped, type='less').
    :scope {
      background-color: rgba(0, 0, 0, 0.5);
    }
