spat-modal-actionsheet(spat-animation='bottom')
  div.modal(ref='modal')
    div.spat-modal-content
      div.spat-modal-title(if='{opts.title}') {opts.title}
      div.spat-modal-button(each='{opts.buttons}', class='{style}', onclick='{select}') {label}

    div.spat-modal-footer
      div.spat-modal-button(onclick='{close}') Cancel
  style(scoped, type='less').
    :scope {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: rgba(0, 0, 0, 0.1);
      .modal {
        margin: 16px;
        width: 100%;
        max-width: 640px;
        .spat-modal-content {
          margin-bottom: 12px;
          border-radius: 8px;
          overflow: hidden;
          .spat-modal-title {
            background-color: rgba(255, 255, 255, 0.95);
            text-align: center;
            padding: 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            color: #666;
            font-size: 14px;
          }
          .spat-modal-button {
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.95);
            text-align: center;
            padding: 12px;
            color: blue;
            cursor: pointer;
            &:not(:last-child) {
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            &.danger {
              color: red;
            }
            &.disable {
              color: rgba(180, 180, 180, 1);
            }
          }
        }

        .spat-modal-footer {
          border-radius: 8px;
          overflow: hidden;

          .spat-modal-button {
            cursor: pointer;
            color: blue;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.95);
            text-align: center;
            padding: 12px;
          }
        }
      }
    }

  script.
    var self = this;
    this.select = function(e) {
      self.trigger('select', e);
      self.close();
    };