spat-scroll-loader
  div.loader(if='{_show}')
    span loading...
  //- i.icon-spinner9

  style(scoped, type='less').
    :scope {
      display: block;

      .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        [class^=icon] {
          display: block;
          font-size: 22px;
          //- animation: spin 1s infinite linear;
        }
      }
    }
    @keyframes scroll-loader-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

  script.
    var self = this;

    this.init = function() {
      this.page = 0;
      this._show = true;
      this._lock = false;
      
      return this;
    };
    this.init();

    this.on('mount', function() {
      var list = opts.parent || this.root.parentNode;
      list.onscroll = function(e) {
        var max = e.target.scrollHeight - e.target.offsetHeight-1;
        if (e.target.scrollTop >= max) {
          self.load();
        }
      };
    });

    this.load = function() {
      if (this._lock === true) return ;

      this._lock = true;
      var d = opts.onload(++this.page);
      d.done(function(res) {
        self._lock = false;
        self.update();
      });
    };

    this.show = function() { this._show = true; return this; }
    this.hide = function() { this._show = false; return this; }

    this.lock = function() { this._lock = true; return this; }
    this.unlock = function() { this._lock = false; return this; }





